    /*********
**Global**
*********/

* {
    /* #2 #font #faces */
    font-family: 'Arial', sans-serif;
    /*margin: 0;
            padding: 0;*/
}

body {
    /* #2 #colorful #background */
    background-color: #F5F5F5;
}

button,
a {
    text-transform: uppercase;
}

hr {
    color: #F5F5F5;
}


/**********
**App bar**
***********/

h1 {
    /* #2 #colourful #app-bar */
    background-color: #3F51B5;
    color: white;
}

h1 a {
    color: white;
    }

/****************
**Channels list**
*****************/
    ul {
        background-color: white;
        list-style-type: none;
        }
    li {
        padding: 16px;
        font-size: 16px;
        font-weight: bold;
        }
    ul .selected {
        color: #3F51B5;
        border-left-style: solid;
        border-left-color: #3F51B5;
        border-left-width: 4px;
        }

/**********
**Tab bar**
***********/
    #tab-bar {
        background-color: white;
    }
    #tab-bar button {
        padding: 16px;
        height: 72px;
        width: 33%;
        background-color: white;
        border: none;
        font-size: 13px;      
        }

   #tab-bar .selected {
        color: #3F51B5;
        border-bottom-style: solid;
        border-bottom-color: #3F51B5;
        border-bottom-width: 4px; 
        }

    /***********
**Messages**
************/
 
    .message {
        background-color: white;
        width: 80%;
        margin-bottom: 8px;
        margin-left: 2.5%;
    }
    /*text*/
    .message p {
        background-color: white;
        padding-top: 16px;
        padding-bottom: 16px;
    }
    /*metadata*/
    .message h3 {
        font-size: medium;
    }
    .message h3 a {
        color: black;
    }
    .message h3 strong {
        text-transform: uppercase;
    }
    /*minutes left*/
    .message h3 em {
        font-size: larger;
        font-style: normal;
    }
    /*button +5 Min*/
    .message button {
        background-color: #CDDC39;
        color: black;
    }

/*own message*/
    .own {
        margin-left: 17.5%;
        }